@model IEnumerable

<script>
    // sending the __RequestVerificationToken value manually, see details: https://github.com/DevExpress/aspnet-security-bestpractices/tree/master/SecurityBestPractices.Mvc#4-preventing-cross-site-request-forgery-csrf
    if (window.jQuery) {
        $.ajaxPrefilter(function (options, originalOptions, xhr) {
            if (options.dataType && options.dataType !== "html")
                return;

            var tokenValue = $('input:hidden[name="__RequestVerificationToken"]').val();
            if (tokenValue && options && options.data && options.data.indexOf('RequestVerificationToken') === -1)
                options.data += "&__RequestVerificationToken=" + tokenValue;
        });
    }
</script>

<h2>Editable Grid</h2>
<p>Note: you should be logged in to edit the grid</p>

@using(Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.Partial("EditFormPartial", Model)
}