@model ReportNameModel

<script>
    function onChangeReportName() {
        $("#nameForm").submit();
    }
</script>

<div>
    <p>To edit Report click "Edit"</p>
    @using (Html.BeginForm("ReportViewer", "Authorization", FormMethod.Post, new { id = "nameForm" })) {

        @Html.DevExpress().FormLayout(settings => {
       settings.Name = "reportsLayout";
       settings.ColumnCount = 2;

       settings.Items.Add(m => m.ReportName, i => {
           i.NestedExtension().ComboBox(cb => {
               cb.ShowModelErrors = true;
               cb.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
               cb.Properties.ValidationSettings.Display = Display.Dynamic;
               cb.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
               cb.Properties.ClientSideEvents.SelectedIndexChanged = "onChangeReportName";
               cb.Properties.DataSource = ReportStorageWithAccessRules.GetViewableReportDisplayNamesForCurrentUser();
               cb.SelectedIndex = 1;
           });
       });
       settings.Items.Add(b => {
           b.ShowCaption = DefaultBoolean.False;
           b.NestedExtension().HyperLink(linkButton => {
               linkButton.Name = "linkButton";
               linkButton.Properties.Text = "Edit";
               linkButton.Enabled = ReportStorageWithAccessRules.GetEditableReportNamesForCurrentUser().Contains(Model.ReportName);
               linkButton.NavigateUrl = Url.Action("ReportDesigner", "Authorization", new { name = Model.ReportName });
           });
       });
   }).Bind(Model).GetHtml();
    }
</div>
@Html.DevExpress().WebDocumentViewer(settings => {
    settings.Name = "documentViewer";
}).Bind(Model.ReportName).GetHtml()