<p>Inline Svg images are not secure! You must trust the source!</p>
<p>For example: Svg bytes uploaded by end user, stored in the data source and embedded inline. JavaScript is excecuted:</p>

@{
    var svgImageWithJavaScriptCode = "<svg height=100 width=100><circle cx=50 cy=50 r=40 stroke=black stroke-width=2 fill=red /><script>alert('XXS')</script></svg>";

<div style="width:100px;">
    @Html.Raw(svgImageWithJavaScriptCode)
</div>

}

