@using Microsoft.AspNet.Identity

@if(Request.IsAuthenticated) {
    using(Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
        @Html.AntiForgeryToken()
        @("User: " + User.Identity.GetUserName())
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
} else {
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}
