body
{
    font-family: "Segoe UI", Helvetica, "Droid Sans", Tahoma, Geneva, sans-serif;
    font-size:11pt;
}
hr
{
    border: 0;
    height: 1px;
    background: #ccc;
}

.login-panel
{
    float:right;
}